canvas#frequency {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
canvas#background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.control-panel {
    position: absolute;
    z-index: 4;
}

.slide-left-enter {
    position: absolute;
    left: -100%;
}
.slide-left-enter-active {
    position: relative;
    left: 0;
    transition: left 1000ms;
}

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
}
